// Colors
.blue {
  color: $color-css;
}

.react-blue {
  color: $color-react;
}

.ts-blue {
  color: $color-ts;
}

.yellow {
  color: $color-js;
}

.orange {
  color: $color-sql;
}

.orangeHtml {
  color: $color-html;
}

.violet {
  color: $color-csharp;
}

.python {
  color: $color-python;
}

.linkedinBlue {
  color: $color-linkedin;
}

.fa-file-pdf {
  color: $color-pdf;
}

// Backgrounds
.bg-blue {
  background-color: $color-css;
}

.bg-react-blue {
  background-color: $color-react;
}

.bg-yellow {
  background-color: $color-js;
}

.bg-html {
  background-color: $color-html;
}

.bg-orange {
  background-color: $color-sql;
}

.bg-violet {
  background-color: $color-csharp;
}

.bg-python {
  background-color: $color-python;
}

.bg-linkedin-blue {
  background-color: $color-linkedin;
}

.bg-black {
  background-color: $color-black;
  color: $text;
}

.bg-sass {
  background-color: $color-sass;
}

.bg-typescript {
  background-color: $color-ts;
}

.green {
  background-color: $color-green;
}

.bg-mongodb {
  background-color: $color-mongodb;
}

.bg-nodejs {
  background-color: $color-nodejs;
}

.bg-docker {
  background-color: $color-docker;
}