.popup h2 {
  margin-bottom: 0.5em;
  font-weight: 500;
}

.popup-sidebar {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.popup-content {
  flex-grow: 1;
}

.popup-image {
  width: 300px;
  height: 200px;
  background-color: gray;
  border-radius: 12px;
  overflow: hidden;
}

.popup-details {
  h3 {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px) {
  .popup {
    width: 100%;
    flex-direction: column;
    display: block;
    position: absolute;
    overflow-y: scroll;
    top: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    z-index: 1000;
  }

  .overlay {
    height: 100%;
    z-index: 1000;
  }

  .popup-details {
    order: 1;
  }

  .popup-sidebar {
    width: 100%;

    .popup-image {
      order: 2;
      width: 100%;
      object-fit: cover;
    }
  }
}
