.close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 200ms;
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  color: var(--black-40);

  &:hover {
    cursor: pointer;
    color: var(--black-60);
  }
}

.project-main {
  padding: 1em;
  color: $colorBlack;
  position: relative;
  overflow: hidden;

  h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  img {
    border-radius: 12px;
  }
}

.proj-image-area {
  width: 60%;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .proj-image-area {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .proj-image-area {
    width: 100%;
  }
}
