.close {
  position: absolute;
  top: 18px;
  right: 15px;
  transition: all 200ms;
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  color: var(--black-40);

  &:hover {
    cursor: pointer;
    color: var(--black-60);
  }
}

.project-main {
  padding: 1em;
  color: $color-black;
  position: relative;
  overflow: hidden;
  border-right: 4px solid $color-primary;
  background-color: $color-background;

  h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;

    &.main-header {
      font-weight: 500;
    }
  }

  h2 {
    margin-bottom: 0.5em;
  }

  img {
    border-radius: 12px;
  }

  .stack-wrapper {
    padding-left: 0;
  }
}

.proj-image-area {
  width: 60%;
  margin: 0 auto;
}

.project-content {
  .stack-wrapper {
    border: 0;
    margin-bottom: 1em;
  }
}

.project-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.git-button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.8em;
  background-color: $color-black;
  border-radius: 25px;
  color: $text;
  padding: 0.2em;
  padding-right: 1em;
  cursor: pointer;
  margin-bottom: 0.8em;

  i {
    font-size: 24px;
  }
}

@media only screen and (max-width: 900px) {
  .proj-image-area {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .proj-image-area {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .project-main {
    border: 0;
  }
}
