.projects-wrapper {
  display: flex;
  gap: 1em;
}

.stack-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 8px;
  border-top: 1px dashed $colorSeparator;
}

.project-card {
  @include card-body;

  flex-grow: 1;
  width: 48%;
  padding: 0;

  &:hover {
    cursor: pointer;
    scale: 1.02;
  }

  a {
    all: unset;
    display: flex;
    flex-direction: column;

    .filler {
      flex-grow: 1;
    }

    .filler + span {
      margin: 0 0 6px 12px;
    }
  }

  span {
    color: $textSecondary;
    font-size: 12px;
  }
}

.project-card-content {
  padding: 12px;
  flex-grow: 1;

  p {
    margin: 0.5em 0 0 0;
  }

  h2 {
    font-weight: 600;
  }
}

.stack-pill {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: $colorBlack;
  padding: 3px 8px;
  font-size: 0.7em;
  opacity: 0.9;

  .pill-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

.project-image {
  object-fit: cover;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.project-card-wrapper {
  display: flex;
  flex-direction: column;
}

// Colors
.bg-blue {
  background-color: $colorCSS;
}

.bg-react-blue {
  background-color: $colorReact;
}

.bg-yellow {
  background-color: $colorJS;
}

.bg-html {
  background-color: $colorHtml;
}

.bg-orange {
  background-color: $colorSql;
}

.bg-violet {
  background-color: $colorCSharp;
}

.bg-python {
  background-color: $colorPython;
}

.bg-linkedin-blue {
  background-color: $colorLinkedin;
}

.bg-black {
  background-color: $colorBlack;
  color: $text;
}

.bg-sass {
  background-color: $colorSass;
}

.bg-typescript {
  background-color: $colorTS;
}

@media only screen and (max-width: 1100px) {
  .project-card {
    width: 40%;
    max-width: 49%;
  }

  .projects-wrapper {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 900px) {
  .project-card {
    width: 100%;
    max-width: 100%;
  }

  .projects-wrapper {
    flex-wrap: wrap;
  }
}
