.projects-wrapper {
  display: flex;
  gap: 1em;
}

.stack-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 8px;
  border-top: 1px dashed $colorSeparator;
}

.project-card {
  background-color: $colorBtn;
  flex-grow: 1;
  width: 48%;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  transition: ease-in-out 0.2s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  &:hover {
    cursor: pointer;
    scale: 1.02;
  }

  a {
    all: unset;
    display: flex;
    flex-direction: column;

    .filler {
      flex-grow: 1;
    }
  }

  span {
    margin-left: 12px;
    color: $textSecondary;
    font-size: 12px;
  }
}

.project-card-content {
  padding: 12px;
  flex-grow: 1;

  p {
    margin: 0.5em 0 0 0;
  }

  h2 {
    font-weight: 600;
  }
}

.stack-pill {
  border-radius: 12px;
  color: $colorWhite;
  padding: 3px 10px;
  font-size: 0.7em;
}

.project-image {
  object-fit: cover;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.project-card-wrapper {
  display: flex;
  flex-direction: column;
}

// Colors
.bg-blue {
  background-color: #3f5aa8;
}

.bg-react-blue {
  background-color: #6ccef0;
}

.bg-yellow {
  background-color: #d5ba33;
}

.bg-orange {
  background-color: #e34d27;
}

.bg-violet {
  background-color: #cd6799;
}

.bg-python {
  background-color: #4584b6;
}

.bg-linkedin-blue {
  background-color: #0a66c2;
}

.bg-black {
  background-color: black;
  color: whitesmoke;
}

@media only screen and (max-width: 1100px) {
  .project-card {
    width: 40%;
    max-width: 49%;
  }

  .projects-wrapper {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 900px) {
  .project-card {
    width: 100%;
    max-width: 100%;
  }

  .projects-wrapper {
    flex-wrap: wrap;
  }
}
