.projects-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.stack-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 8px;
  border-top: 1px dashed $color-separator;
}

.project-card {
  @include card-body;

  flex-grow: 1;
  min-width: 48%;
  padding: 0;

  &:hover {
    cursor: pointer;
    scale: 1.02;
  }

  a {
    all: unset;
    display: flex;
    flex-direction: column;

    .filler {
      flex-grow: 1;
    }

    .filler + span {
      margin: 0 0 6px 12px;
    }
  }

  span {
    color: $text-secondary;
    font-size: 12px;
  }
}

.project-card-content {
  padding: 12px;
  flex-grow: 1;

  p {
    margin: 0.5em 0 0 0;
  }

  h2 {
    font-weight: 600;
  }
}

.stack-pill {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: $color-black;
  padding: 3px 8px;
  font-size: 0.7em;
  opacity: 0.9;

  .pill-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

.project-image {
  object-fit: cover;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.project-card-wrapper {
  display: flex;
  flex-direction: column;
}

// Colors
.bg-blue {
  background-color: $color-css;
}

.bg-react-blue {
  background-color: $color-react;
}

.bg-yellow {
  background-color: $color-js;
}

.bg-html {
  background-color: $color-html;
}

.bg-orange {
  background-color: $color-sql;
}

.bg-violet {
  background-color: $color-csharp;
}

.bg-python {
  background-color: $color-python;
}

.bg-linkedin-blue {
  background-color: $color-linkedin;
}

.bg-black {
  background-color: $color-black;
  color: $text;
}

.bg-sass {
  background-color: $color-sass;
}

.bg-typescript {
  background-color: $color-ts;
}

@media only screen and (max-width: 1200px) {
  .project-card {
    width: 100%;
  }

  .projects-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .project-card {
    width: 100%;
  }

  .projects-wrapper {
    grid-template-columns: 1fr;
    gap: 1.5em;
  }
}
