// Colors
$colorPrimary: #0c73fe;
$colorPrimaryShaded: #0a5cc7;
$colorWhite: white;
$colorGray: rgb(200, 200, 200);
$colorBtn: #ffffff;
$colorBtnHover: #eaeaea;
$colorBlack: black;
$colorSeparator: rgba(0, 0, 0, 0.08);
$colorBackground: #f9f9f9;
$colorShadow: rgba(0, 0, 0, 0.04);

// SoftwareColors
$colorCSS: #3f5aa8;
$colorReact: #6ccef0;
$colorJS: #d5ba33;
$colorSql: #e34d27;
$colorCSharp: #cd6799;
$colorPython: #4584b6;
$colorLinkedin: #0a66c2;
$colorPDF: rgb(175, 0, 0);

// Text
$text: whitesmoke;
$textSecondary: rgb(100, 100, 100);

// Fonts
$fontMain: "Inter", sans-serif;
$fontHeaders: "Bebas Neue", sans-serif;

// Mixins

@mixin card-body {
  display: flex;
  overflow: hidden;
  background-color: $colorBtn;
  border-radius: 8px;
  padding: 10px;
  transition: ease-in-out 0.2s;
  box-shadow: 0 0 2px 2px $colorShadow;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
