// Colors
$color-primary: #0c73fe;
$color-primaryShaded: #0a5cc7;
$color-white: white;
$color-gray: rgb(200, 200, 200);
$color-btn: #ffffff;
$color-btn-hover: #eaeaea;
$color-black: black;
$color-black-20: rgba(black, 0.2);
$color-black-50: rgba(black, 0.5);
$color-separator: rgba(0, 0, 0, 0.08);
$color-background: #f9f9f9;
$color-shadow: rgba(0, 0, 0, 0.04);

// SoftwareColors
$color-html: #e54f26;
$color-css: #3f5aa8;
$color-sass: #c6538c;
$color-react: #6ccef0;
$color-js: #d5ba33;
$color-ts: #007acc;
$color-sql: #e34d27;
$color-csharp: #cd6799;
$color-python: #4584b6;
$color-linkedin: #0a66c2;
$color-pdf: rgb(175, 0, 0);
$color-redux: #764abc;
$color-green: green;

// Text
$text: whitesmoke;
$text-secondary: rgb(100, 100, 100);

// Fonts
$font-main: "Inter", sans-serif;
$font-headers: "Inter", sans-serif;

// Mixins

@mixin card-body {
  display: flex;
  overflow: hidden;
  background-color: $color-btn;
  border-radius: 8px;
  padding: 5px;
  transition: ease-in-out 0.2s;
  box-shadow: 0 0 2px 2px $color-shadow;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
