// Colors
$colorPrimary: #0c73fe;
$colorPrimaryShaded: #0a5cc7;
$colorWhite: white;
$colorGray: rgb(200, 200, 200);
$colorBtn: rgba(67, 83, 106, 0.08);
$colorBtnHover: #dae2e9;
$colorBlack: black;
$colorRed: rgb(175, 0, 0);
$colorSeparator: rgba(0, 0, 0, 0.08);

// Text
$text: whitesmoke;
$textSecondary: rgb(100, 100, 100);

// Fonts
$fontMain: "Inter", sans-serif;
$fontHeaders: "Bebas Neue", sans-serif;
