* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.App {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: white;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1376px;
  margin: 0 auto 0 auto;
  display: flex;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.thin {
  font-weight: 200;
}

.info-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: #0c73fe;
  min-height: 100vh;
  padding: 1em;
}
.info-bar .img-area {
  border: 4px solid white;
  border-radius: 900px;
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0 0 1em 0;
  box-shadow: inset 0 0 0 5px #0c73fe;
  background-image: url("../../public/photo.jfif");
  background-size: cover;
}
.info-bar h1,
.info-bar h2 {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
}
.info-bar h1 {
  font-size: 2.5em;
}
.info-bar h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: -9px;
}
.info-bar h3 {
  font-size: 1em;
  margin-bottom: 4em;
}
.info-bar p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .info-bar {
    flex-direction: row;
    height: 170px;
    width: 100%;
    min-height: auto;
  }
  .info-bar p {
    display: none;
  }
  .info-bar .img-area {
    width: 150px;
    height: 150px;
    margin: 0;
  }
  .info-bar h3 {
    margin-bottom: 0;
  }
  .info-bar-column {
    flex-grow: 1;
  }
}
.content {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  color: black;
  border-right: 4px solid #0c73fe;
}
.content h1,
.content h2,
.content h3,
.content h4 {
  font-weight: 400;
  margin-bottom: 0.5em;
}
.content h1 {
  color: #0c73fe;
}
.content h2 {
  font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
  .content {
    border: 0;
  }
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  min-height: 70px;
  background-color: rgba(67, 83, 106, 0.08);
  border-radius: 8px;
  padding: 10px;
  transition: ease-in-out 0.2s;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}
.skill-card:hover {
  background-color: #dae2e9;
  scale: 1.05;
}
.skill-card i {
  font-size: 32px;
  margin-bottom: 5px;
}
.skill-card span {
  font-size: 0.7em;
}

.blue {
  color: #3f5aa8;
}

.react-blue {
  color: #6ccef0;
}

.yellow {
  color: #d5ba33;
}

.orange {
  color: #e34d27;
}

.violet {
  color: #cd6799;
}

.python {
  color: #4584b6;
}

.linkedinBlue {
  color: #0a66c2;
}

.cert-card {
  display: flex;
  width: 100%;
  background-color: rgba(67, 83, 106, 0.08);
  border-radius: 8px;
  overflow: hidden;
}
.cert-card img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100px;
  height: auto;
}
.cert-card i {
  font-size: 32px;
  padding: 1em;
}

.cert-card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em;
}
.cert-card-content h2,
.cert-card-content h3 {
  margin-bottom: 0.2em;
}
.cert-card-content h3 {
  color: rgb(100, 100, 100);
}

.download-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-icon a {
  all: unset;
}
.download-icon:hover {
  cursor: pointer;
  background-color: #dae2e9;
}

.projects-wrapper {
  display: flex;
  gap: 10px;
}

.stack-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 8px;
}

.project-card {
  background-color: rgba(67, 83, 106, 0.08);
  width: 34%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: ease-in-out 0.2s;
}
.project-card:hover {
  cursor: pointer;
  scale: 1.02;
}
.project-card span {
  margin-left: 12px;
  color: rgb(100, 100, 100);
  font-size: 12px;
}

.stack-pill {
  border-radius: 12px;
  color: white;
  padding: 3px 10px;
  font-size: 0.7em;
}

.project-image {
  height: 200px;
}

.project-card-content {
  padding: 12px;
  flex-grow: 1;
}
.project-card-content h2 {
  font-weight: 600;
}

.bg-blue {
  background-color: #3f5aa8;
}

.bg-react-blue {
  background-color: #6ccef0;
}

.bg-yellow {
  background-color: #d5ba33;
}

.bg-orange {
  background-color: #e34d27;
}

.bg-violet {
  background-color: #cd6799;
}

.bg-python {
  background-color: #4584b6;
}

.bg-linkedin-blue {
  background-color: #0a66c2;
}

.bg-black {
  background-color: black;
  color: whitesmoke;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 300ms;
  z-index: 100;
}

.popup {
  margin: 70px auto;
  padding: 12px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
  gap: 10px;
  color: black;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 200ms;
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  color: var(--black-40);
}
.popup .close:hover {
  cursor: pointer;
  color: var(--black-60);
}

.popup h2 {
  margin-bottom: 0.5em;
  font-weight: 500;
}

.popup-sidebar {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.popup-content {
  flex-grow: 1;
}

.popup-image {
  width: 300px;
  height: 200px;
  background-color: gray;
  border-radius: 12px;
  overflow: hidden;
}

.popup-details h3 {
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */