* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.App {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: white;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.inactive {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1376px;
  margin: 0 auto 0 auto;
  display: flex;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.info-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: #0c73fe;
  min-height: 100vh;
  padding: 1em;
}
.info-bar .info-bar-columns {
  display: flex;
  flex-direction: column;
}
.info-bar .img-area {
  border: 4px solid white;
  border-radius: 900px;
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0 0 1em 0;
  box-shadow: inset 0 0 0 5px #0c73fe;
  background-image: url("../../public/photo.jfif");
  background-size: cover;
}
.info-bar h1,
.info-bar h2 {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
}
.info-bar h1 {
  font-size: 2.5em;
}
.info-bar h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: -9px;
}
.info-bar h3 {
  font-size: 1em;
  margin-bottom: 4em;
  font-weight: 200;
}
.info-bar p {
  margin: 0;
  padding: 0;
}

.info-bar-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.contacts h3 {
  font-size: 1em;
  margin: 0;
  font-weight: 400;
}
.contacts .contacts-line {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.contacts .contacts-line a {
  all: unset;
  width: 45px;
  height: 45px;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.contacts .contacts-line a:hover {
  background-color: white;
  color: #0c73fe;
}
.contacts .contacts-line a i {
  font-size: 32px;
}
.contacts .contacts-line a i:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .info-bar {
    flex-direction: column;
    height: 220px;
    width: 100%;
    min-height: auto;
  }
  .info-bar p {
    display: none;
  }
  .info-bar .img-area {
    width: 150px;
    height: 150px;
    margin: 0;
  }
  .info-bar h3 {
    margin-bottom: 0;
  }
  .info-bar .info-bar-columns {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .info-bar .info-bar-columns .info-bar-column {
    flex-grow: 1;
    justify-content: center;
  }
  .contacts {
    flex-direction: row;
  }
}
.content {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  color: black;
  border-right: 4px solid #0c73fe;
  background-color: #f9f9f9;
}
.content h1,
.content h2,
.content h3,
.content h4 {
  font-weight: 400;
  margin-bottom: 0.8em;
}
.content h1 {
  color: #0c73fe;
}
.content h2 {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .content {
    border: 0;
  }
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 1em;
}

.skill-card {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  transition: ease-in-out 0.2s;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
  align-items: center;
  min-width: 80px;
  min-height: 80px;
}
.skill-card:hover {
  scale: 1.05;
}
.skill-card i {
  font-size: 32px;
  margin-bottom: 5px;
}
.skill-card span {
  font-size: 0.7em;
}
.skill-card img {
  width: 32px;
  height: 32px;
  margin-bottom: 5px;
}

.card-link {
  all: unset;
  cursor: pointer;
}

.blue {
  color: #3f5aa8;
}

.react-blue {
  color: #6ccef0;
}

.yellow {
  color: #d5ba33;
}

.orange {
  color: #e34d27;
}

.violet {
  color: #cd6799;
}

.python {
  color: #4584b6;
}

.linkedinBlue {
  color: #0a66c2;
}

.fa-file-pdf {
  color: rgb(175, 0, 0);
}

.cert-card {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  transition: ease-in-out 0.2s;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
  padding: 0;
  width: 100%;
}

.cert-card-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.cert-card-row img {
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
  padding: 1em;
}

.cert-card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em;
}
.cert-card-content h2,
.cert-card-content h3 {
  margin-bottom: 0.2em;
}
.cert-card-content h3 {
  color: rgb(100, 100, 100);
}

.download-icon {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}
.download-icon:hover {
  cursor: pointer;
  background-color: #eaeaea;
}
.download-icon i {
  font-size: 32px;
  padding: 0.5em;
  padding-right: 0.2em;
}
.download-icon span {
  color: rgb(175, 0, 0);
  font-weight: 500;
  padding: 0.5em 0.5em 0 0.5em;
}

.ref-card {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  transition: ease-in-out 0.2s;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.ref-card .ref-card-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.ref-card .ref-card-details .ref-name {
  font-weight: 600;
}
.ref-card .ref-card-details .ref-company {
  color: rgb(100, 100, 100);
}
.ref-card .ref-mailto {
  all: unset;
  padding: 0.3em;
  font-size: 24px;
  color: #0c73fe;
}
.ref-card .ref-mailto:hover {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .cert-card {
    flex-direction: column;
  }
  .cert-card i {
    padding: 0.5em;
  }
  .cert-card-row {
    display: flex;
  }
  .download-icon {
    flex-direction: row;
    padding: 0;
    border-left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  .download-icon span {
    padding: 0;
  }
}
.projects-wrapper {
  display: flex;
  gap: 1em;
}

.stack-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 8px;
  border-top: 1px dashed rgba(0, 0, 0, 0.08);
}

.project-card {
  background-color: #ffffff;
  flex-grow: 1;
  width: 48%;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  transition: ease-in-out 0.2s;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}
.project-card:hover {
  cursor: pointer;
  scale: 1.02;
}
.project-card a {
  all: unset;
  display: flex;
  flex-direction: column;
}
.project-card a .filler {
  flex-grow: 1;
}
.project-card span {
  margin-left: 12px;
  color: rgb(100, 100, 100);
  font-size: 12px;
}

.project-card-content {
  padding: 12px;
  flex-grow: 1;
}
.project-card-content p {
  margin: 0.5em 0 0 0;
}
.project-card-content h2 {
  font-weight: 600;
}

.stack-pill {
  border-radius: 12px;
  color: white;
  padding: 3px 10px;
  font-size: 0.7em;
}

.project-image {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.project-image img {
  width: 100%;
}

.project-card-wrapper {
  display: flex;
  flex-direction: column;
}

.bg-blue {
  background-color: #3f5aa8;
}

.bg-react-blue {
  background-color: #6ccef0;
}

.bg-yellow {
  background-color: #d5ba33;
}

.bg-orange {
  background-color: #e34d27;
}

.bg-violet {
  background-color: #cd6799;
}

.bg-python {
  background-color: #4584b6;
}

.bg-linkedin-blue {
  background-color: #0a66c2;
}

.bg-black {
  background-color: black;
  color: whitesmoke;
}

@media only screen and (max-width: 1100px) {
  .project-card {
    width: 40%;
    max-width: 49%;
  }
  .projects-wrapper {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 900px) {
  .project-card {
    width: 100%;
    max-width: 100%;
  }
  .projects-wrapper {
    flex-wrap: wrap;
  }
}
.image-gallery-icon {
  color: #fff;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  filter: drop-shadow(0 2px 2px #1a1a1a);
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-icon:hover {
    color: #337ab7;
  }
  .image-gallery-icon:hover .image-gallery-svg {
    transform: scale(1.1);
  }
}
.image-gallery-icon:focus {
  outline: 2px solid #337ab7;
}

.image-gallery-using-mouse .image-gallery-icon:focus {
  outline: none;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0;
  padding: 20px;
}
.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  height: 28px;
  width: 28px;
}
@media (max-width: 768px) {
  .image-gallery-fullscreen-button,
  .image-gallery-play-button {
    padding: 15px;
  }
  .image-gallery-fullscreen-button .image-gallery-svg,
  .image-gallery-play-button .image-gallery-svg {
    height: 24px;
    width: 24px;
  }
}
@media (max-width: 480px) {
  .image-gallery-fullscreen-button,
  .image-gallery-play-button {
    padding: 10px;
  }
  .image-gallery-fullscreen-button .image-gallery-svg,
  .image-gallery-play-button .image-gallery-svg {
    height: 16px;
    width: 16px;
  }
}

.image-gallery-fullscreen-button {
  right: 0;
}

.image-gallery-play-button {
  left: 0;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 50px 10px;
  top: 50%;
  transform: translateY(-50%);
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 120px;
  width: 60px;
}
@media (max-width: 768px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 72px;
    width: 36px;
  }
}
@media (max-width: 480px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 48px;
    width: 24px;
  }
}
.image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
  cursor: disabled;
  opacity: 0.6;
  pointer-events: none;
}

.image-gallery-left-nav {
  left: 0;
}

.image-gallery-right-nav {
  right: 0;
}

.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}
.image-gallery.fullscreen-modal {
  background: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
.image-gallery.fullscreen-modal .image-gallery-content {
  top: 50%;
  transform: translateY(-50%);
}

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0;
}
.image-gallery-content.fullscreen {
  background: #000;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 80px);
}
.image-gallery-content.left .image-gallery-slide .image-gallery-image, .image-gallery-content.right .image-gallery-slide .image-gallery-image {
  max-height: 100vh;
}

.image-gallery-slide-wrapper {
  position: relative;
}
.image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
  display: inline-block;
  width: calc(100% - 110px);
}
@media (max-width: 768px) {
  .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
    width: calc(100% - 87px);
  }
}
.image-gallery-slide-wrapper.image-gallery-rtl {
  direction: rtl;
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-align: center;
}

.image-gallery-slide {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image-gallery-slide.center {
  position: relative;
}
.image-gallery-slide .image-gallery-image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.image-gallery-slide .image-gallery-description {
  background: rgba(0, 0, 0, 0.4);
  bottom: 70px;
  color: #fff;
  left: 0;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  white-space: normal;
}
@media (max-width: 768px) {
  .image-gallery-slide .image-gallery-description {
    bottom: 45px;
    font-size: 0.8em;
    padding: 8px 15px;
  }
}

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4;
}
.image-gallery-bullets .image-gallery-bullets-container {
  margin: 0;
  padding: 0;
  text-align: center;
}
.image-gallery-bullets .image-gallery-bullet {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px #1a1a1a;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  padding: 5px;
  transition: all 0.2s ease-out;
}
@media (max-width: 768px) {
  .image-gallery-bullets .image-gallery-bullet {
    margin: 0 3px;
    padding: 3px;
  }
}
@media (max-width: 480px) {
  .image-gallery-bullets .image-gallery-bullet {
    padding: 2.7px;
  }
}
.image-gallery-bullets .image-gallery-bullet:focus {
  transform: scale(1.2);
  background: #337ab7;
  border: 1px solid #337ab7;
}
.image-gallery-bullets .image-gallery-bullet.active {
  transform: scale(1.2);
  border: 1px solid #fff;
  background: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-bullets .image-gallery-bullet:hover {
    background: #337ab7;
    border: 1px solid #337ab7;
  }
  .image-gallery-bullets .image-gallery-bullet.active:hover {
    background: #337ab7;
  }
}

.image-gallery-thumbnails-wrapper {
  position: relative;
}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
  touch-action: pan-y;
}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-vertical {
  touch-action: pan-x;
}
.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
  direction: rtl;
}
.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    width: 81px;
  }
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
  display: block;
  margin-right: 0;
  padding: 0;
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 0;
  margin-top: 2px;
}
.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
  margin: 0 5px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    margin: 0 3px;
  }
}

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails {
    padding: 3px 0;
  }
}
.image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border 0.3s ease-out;
  width: 100px;
  background: transparent;
  padding: 0;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail {
    border: 3px solid transparent;
    width: 81px;
  }
}
.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 2px;
}
.image-gallery-thumbnail .image-gallery-thumbnail-inner {
  display: block;
  position: relative;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: middle;
  width: 100%;
  line-height: 0;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid #337ab7;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
    border: 3px solid #337ab7;
  }
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-thumbnail:hover {
    outline: none;
    border: 4px solid #337ab7;
  }
}
@media (hover: hover) and (pointer: fine) and (max-width: 768px) {
  .image-gallery-thumbnail:hover {
    border: 3px solid #337ab7;
  }
}

.image-gallery-thumbnail-label {
  box-sizing: border-box;
  color: white;
  font-size: 1em;
  left: 0;
  line-height: 1em;
  padding: 5%;
  position: absolute;
  top: 50%;
  text-shadow: 0 2px 2px #1a1a1a;
  transform: translateY(-50%);
  white-space: normal;
  width: 100%;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail-label {
    font-size: 0.8em;
    line-height: 0.8em;
  }
}

.image-gallery-index {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
@media (max-width: 768px) {
  .image-gallery-index {
    font-size: 0.8em;
    padding: 5px 10px;
  }
}

.close {
  position: absolute;
  top: 18px;
  right: 15px;
  transition: all 200ms;
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  color: var(--black-40);
}
.close:hover {
  cursor: pointer;
  color: var(--black-60);
}

.project-main {
  padding: 1em;
  color: black;
  position: relative;
  overflow: hidden;
  border-right: 4px solid #0c73fe;
  background-color: #f9f9f9;
}
.project-main h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.project-main img {
  border-radius: 12px;
}

.proj-image-area {
  width: 60%;
  margin: 0 auto;
}

.project-content .stack-wrapper {
  border: 0;
  margin-bottom: 1em;
}

.project-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.git-button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.8em;
  background-color: black;
  border-radius: 25px;
  color: whitesmoke;
  padding: 0.5em;
  cursor: pointer;
  margin-bottom: 0.8em;
}
.git-button i {
  font-size: 24px;
}

.green {
  background-color: green;
}

@media only screen and (max-width: 900px) {
  .proj-image-area {
    width: 80%;
  }
}
@media only screen and (max-width: 700px) {
  .proj-image-area {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .project-main {
    border: 0;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  p {
    font-size: 1.2em;
  }
}/*# sourceMappingURL=main.css.map */